@import '../node_modules/@fontsource/comfortaa' layer(base);
@import '../node_modules/@fontsource/open-sans' layer(base);

@import 'tailwindcss';

@theme {
  --color-green-50: #ecfdf5;
  --color-green-100: #d1fae5;
  --color-green-200: #a7f3d0;
  --color-green-300: #6ee7b7;
  --color-green-400: #34d399;
  --color-green-500: #10b981;
  --color-green-600: #059669;
  --color-green-700: #047857;
  --color-green-800: #065f46;
  --color-green-900: #064e3b;

  --font-heading: 'Open Sans', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-body: 'Comfortaa', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  html,
  body {
    @apply min-h-full;
  }

  html {
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    scroll-padding-top: 6rem;
    @apply font-body bg-linear-to-br from-gray-900 via-gray-900 via-5% to-green-900 text-gray-50;
  }

  *,
  *::before,
  *::after {
    border-style: solid;
    -webkit-tap-highlight-color: transparent;
  }

  *::placeholder {
    @apply text-gray-400 opacity-100;
  }

  a {
    @apply decoration-0;
  }
}
